.ta{
    border: 1;
    width: 100%;
    border-collapse: collapse;
    background: yellow;
}
.ta1{
    background: rgb(46, 15, 133);
    /* color: white; */
    text-align: left;
}
.d1{
    width: 100px;
    height: 50px;
    background: grey;
}