<!DOCTYPE html>

{% load static %}
<html lang="en">


<head>
    <meta charset="UTF-8">
    <title>co-exp</title>
    <link href="{% static 'css/co-expression.css' %}" rel="stylesheet" type="text/css">

    <!-- vis -->
    <link href="{% static 'css/vis.min.css' %}" rel="stylesheet">
    <!-- dataTables -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.dataTables.min.css' %}">	
    <link rel="stylesheet" type="text/css" href="{% static 'css/buttons.dataTables.min.css' %}">	

    <!-- vis -->
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/vis.min.js' %}"></script>
    <!-- dataTables -->
    <script type="text/javascript" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dataTables.buttons.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/buttons.html5.min.js' %}"></script>
    
    <script>
        $(document).ready( function () {
            $('#datatable').DataTable({
                // "dom": '<"top"flB>rt<"bottom"ip><"clear">',
                "dom": '<"top"fB>rt<"bottom"ip><"clear">',
                buttons: [                      //set buttons
                    'pageLength',               //a direct replacement to the DataTables default length list
                    {
                        extend: 'csvHtml5',     //export data to a csv file
                        text: 'Data export'
                    }
                ],
                language: {                     //change the display on the 'pageLength' buttons
                    buttons: {
                        pageLength: {
                            _: "Show %d entries",
                            '-1': "Show all entries"
                        }
                    }
                },
                "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]] //lengthMenu adjust
            });
        } );
    </script>

</head>



<body>

<div class="body">
    <div class="h">
        <h2>Co Expression</h2>
    </div>

    <div id="network" class="co-network"></div>
    <script>
        $("#network").html("<img src='{% static 'images/loading.gif' %}'/>");
        var parameter = 'genes='+'{{ accession }}' + '&cor='+'{{ co_cor }}';
        var s_url = "{% url 'detail_show:network' %}";
        var url = s_url+'?'+parameter;
    
        $.ajax({
            url: url,
            type: "get",
            dataType: "json",
            success: function (data) {
                data = JSON.parse(data);
                var nodesDataset = new vis.DataSet(data.nodes);
                var edgesDataset = new vis.DataSet(data.edges);
    
                var container = document.getElementById('network');
                var options = {
                    autoResize: true,
                    nodes: {
                        shape: 'dot',
                        size:5,
                        borderWidth:0,
                        borderWidthSelected:0,
                        font: '12px arial #333'
                    },
                    groups: {
                        geneGroup: {color:{background:'red'}, borderWidth:0,size:10}
                    },
                    physics:false,
                    edges: {
                        width: 0.2,
                        color: '#999',
                        smooth: {
                            type: 'continuous'
                        }
                    },
                    interaction: {
                        hover: true,
                        hideEdgesOnDrag: true,
                        tooltipDelay: 50
                    }
                };
                var data1 = {nodes: nodesDataset, edges: edgesDataset};
    
    
                var network = new vis.Network(container, data1, options);
    
                //network.on("click",neighbourhoodHighlight);
            }
        });
    </script>
    <div class="total">
        <p>Total: {{ node_number }} nodes; {{ edge_number }} edges</p>
    </div>


    <div class="table">
        <table id="datatable" class="display">
            <thead>
                <tr>
                    <th>Gene One</th>
                    <th>Gene Two</th>
                    <th>Pearson's R</th>
                    <th>P-value</th>
                </tr>
            </thead>
            <tbody>
            {% for item in gene_list %}
                <tr>
                    <td><a href="{% url 'detail_show:gene' %}?gene={{ item.geneaccession }}" target="view_window">{{ item.geneaccession }}</a></td>
                    <td><a href="{% url 'detail_show:gene' %}?gene={{ item.coexpress_gene }}" target="view_window">{{ item.coexpress_gene }}</a></td>
                    <td>{{ item.cor }}</td>
                    <td>{{ item.p_value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>