<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>co-search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/co-search.css' %}"/>

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>

    <script>
        $(document).ready(function(){
            $('#eg_co-gene').click(function(){
                var eg=$('#eg_co-gene').text();
                $('#co-gene').val(eg);
            });
        });
    </script>
</head>

<body>
    <div class="d1">
        <form action="{% url 'detail_show:co-expression' %}" method="POST">
            {% csrf_token %}
            <div>
                <label>Gene ID:</label><br/>
                <textarea id='co-gene' rows="10" cols="50" name="co-gene_ids" required></textarea>  <!-- required 属性规定必需在提交之前填写输入字段。 -->
                <br/>
                <span>
                    e.g.,&nbsp;<a href="#"><em id="eg_co-gene">TEA000001.1,TEA000002.1</em></a>
                </span>
            </div>
            <div>
                <input type="text" value="0.9" id="co-cor" name="cor"/>
            </div>
            <div>
                <input type="submit" value="search" name='submitBtn' id="sub"/>
            </div>
        </form>
    </div>
</body>
</html>