<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>co-search</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/co-search.css' %}"/>

    <!-- <script src="{% static 'js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        function to(){  
            var getval ="valueTest";
            window.location.href="/detail_show/network?values="+getval;  
        } 
    </script> -->

</head>

<body>
    <div class="d1">
    <form action="{% url 'detail_show:co-expression' %}" method="post" name="co-search2co-expression">
        {% csrf_token %}
        <input type="text" name="gene_ids"/>
        <p>eg:TEA000001.1,TEA000002.1</p>
        <input type="submit" value="search" name='submitBtn' onclick="to()"/>
    </form>
    </div>
</body>
</html>