<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>network_json</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <!-- <script src="{% static 'js/jquery-1.11.2.min.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function(){
//console.log(location.search.concat());
//manyValues();
        $("#show").html(oneValues());
        })

        function oneValues(){
        var result;
        var url=window.location.search; //获取url中"?"符后的字串  
        if(url.indexOf("?")!=-1){
        result = url.substr(url.indexOf("=")+1);
        }
        return result;
        }
    </script> -->

</head>


<body>
    
    <span>接收的值是：</span>
    <span id="show"></span>

</body>
</html>