<!DOCTYPE html>

{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>network_json</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
</head>


<body>
<div id="wrong_json">{"edges":[{% for item in gene_list.all %}{"from":"{{ item.geneaccession }}","title":"Value:{{ item.cor }}","to":"{{ item.coexpress_gene }}"},{% endfor %}
{% for item in add_genes %}{"from":"{{ item.geneaccession }}","title":"Value:{{ item.cor }}","to":"{{ item.coexpress_gene }}"},{% endfor %}],
"nodes":[{% for item in gene_list.all %}{"id":"{{ item.coexpress_gene}}","title":"{{ item.coexpress_gene }}"},{% endfor %}
{% for item in gene_accessions %}{"group":"geneGroup","id":"{{ item }}","label":"{{ item }}","title":"{{ item }}"},{% endfor %}]}
</div>
<script>
    $('#wrong_json').text($('#wrong_json').text().replace(',]',']').replace(',]',']'))
</script>
</body>
</html>